


.NavbarItems{
    
    height:80px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    
}
.navbar-logo{
    color:white;
    justify-self:start;
    margin-left: 20px;
    cursor: pointer;
}

.fa-brands fa-react{
    margin-left: 0.5rem;
    font-size:1.6rem ;
}

.nav-menu{
    display:grid;
    grid-template-columns: repeat(5,auto);
    grid-gap:10px;
    list-style: none;
    text-align: center;
    width:70vw;
    justify-content: end;
    margin-right: 2rem;
}
.nav-links{
    color:white;
    text-decoration: none;
    padding:0.5rem 1rem;
}
.nav-links:hover{
    background-color:grey;
    border-radius: 4px;
    transition: all 0.2 ease-out;
}

.fa-solid fa-bars{
    color:white;
}


.nav-links-mobile{
    display: none;
}
.menu-icon{
    display: none;
}


@media screen and (max-width:960px) {
    .NavbarItems{
        position:relative;

    }
    .nav-menu{
        display:flex;
        flex-direction:column;
        width:100%;
        height:500px;
        position:absolute;
        top:80px;
        left:-100%;
        opacity:1;
        transition: all 0.5s ease;

    }
    .nav-menu.active{
        background:rgb(14, 13, 13) ;
        left:0;
        opacity:1;
        transition: all 0.5s ease;
        z-index:1;
    }
    .nav-links{
        text-align:center;
        padding:2rem;
        width:100%;
        display:table;

    }
    .nav-links:hover{
        background-color:black;
        border-radius: 0;

    }

    .navbar-logo{
        position:absolute;
        top:0;
        left:0;
        transform:translate(25% ,50%)
    }

    .menu-icon{
        display:block;
        position:absolute;
        top:0;
        right:0;
        transform:translate(-100%,60%);
        font-size:1.8rem;
        cursor:pointer;
        color:white;
    }
    .fa-solid fa-bars{
        color:rgb(240, 240, 240);
        font-size:2rem;
    }
    
    .nav-links-mobile{
        display:block;
        text-align:center;
        padding:1rem;
        margin:2rem auto;
        border-radius: 4px;
        width:80%;
        background: rgb(0, 0, 0);
        text-decoration: none;
        color:rgb(255, 255, 255);
        font-size: 1.5rem;


    }
    .nav-links-mobile:hover{
        background: rgb(7, 7, 7);
        color:rgb(255, 255, 255);
        transition:25rem;
    }
    Button{
        display: none;
       
    }
}

