
.dFlex{
    display:flex;
    justify-content: center;
    
}
.Product_content{
   @extend: .dFlex;
   position: relative;
   width: 70%;
   height:100%;
   margin:50px auto;
   padding:50px 0 0;
   box-sizing:border-box;
   justify-content: space-between;
   flex-wrap: wrap;
   padding:20px;
   display: flex
   
   ;


}

.Title{
    position:absolute;
    left:100;
    top:0;
    color:rgb(7, 7, 7);
    font: size 10.5vw;
    text-align: center;
}



.card_img{
    
    width: 300px;
   
   
    margin: 20px;
}


